.navbar__container {
    top: 15px;
    left: 0;
    width: 100%;
    padding: 15px 8px 50px;

    display: flex;
    align-items: center;

    z-index: 100;

    &--home {
        position: absolute;
        padding: 0 10px;
    }
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 2;

    &--logo {
        width: 42px;
        height: 42px;
        cursor: pointer;
    }

    &--title {
        margin: 0;
        color: white;
        font-size: 16px;
        white-space: nowrap;
        cursor: pointer;
    }
}

.navbar__right {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 36px;

    padding: 10px 25px;
    background: #423f3f;
    border-radius: 999px;
    z-index: 1;

    &--link {
        color: white;
        font-size: 16px;
        cursor: pointer;
        white-space: nowrap;
        transition: 0.2s;

        &:hover,
        &--active {
            color: #d4af37;
            text-shadow: 0 0 6px rgba(255, 255, 255, 0.6);
        }
    }
}

@media (max-width: 900px) {
    .navbar__container {
        flex-direction: column;
        gap: 14px;
        padding: 20px;
    }

    .navbar__container--home {
        padding: 20px;
    }

    .navbar__right {
        position: static;
        transform: none;

        width: fit-content;
        max-width: 100%;

        flex-wrap: wrap;
        justify-content: center;
        gap: 18px;

        padding: 12px 20px;
        border-radius: 24px;
    }

    .navbar__left--title,
    .navbar__right--link {
        font-size: 16px;
    }
}

@media (max-width: 520px) {
    .navbar__right {
        flex-direction: column;
        width: 90%;
        gap: 10px;
        border-radius: 20px;
    }
}