@if (books.length > 0) {
<div class="box__container">
    <p-accordion class="books-accordion">
        @for (book of books; track book.id; let i = $index) {
        <p-accordion-panel [value]="i.toString()">
            <p-accordion-header>
                {{ book.attributes.title }}
            </p-accordion-header>

            <p-accordion-content>
                <div class="book__content">
                    <div class="book__cover-block">
                        <img class="book__cover" [src]="book.attributes.cover || 'assets/images/Questions.png'"
                            [alt]="book.attributes.title" />

                        <p class="book__dedication">
                            {{ book.attributes.dedication || 'No Information' }}
                        </p>
                    </div>

                    <div class="book__info">
                        <p class="book__author">
                            {{ book.attributes.author || 'No Information' }}
                        </p>

                        <p class="book__summary">
                            {{ book.attributes.summary || 'No Information' }}
                        </p>

                        <div class="book__data">
                            <p>
                                <strong>Cantidad de páginas:</strong><br />
                                {{ book.attributes.pages || 'No Information' }}
                            </p>

                            <p>
                                <strong>Cantidad de capítulos:</strong><br />
                                {{ book.relationships.chapters.data.length || 'No Information' }}
                            </p>
                        </div>
                    </div>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
        }
    </p-accordion>
</div>
}