.construction__container {
    width: 100vw;

    .container-img {
        display: flex;
        flex-direction: column;
        align-items: center;

        .construction__img {
            width: 30%;

        }

        .construction__title {
            margin-top: -4%;
            font-size: 3rem;
            color: #d4af37;
            text-shadow: 0 0 20px #b8860b;
        }


    }
}

@media (max-width: 900px) {
    .construction__container {
        .container-img {
            .construction__img {
                width: 80%;
            }

            .construction__title {
                font-size: 2rem;
            }
        }
    }
}